{% extends 'base.html' %}
{% block title %} Account {% endblock %}
{% block content %}
<div class="container w-50 m-auto d-flex justify-items-center flex-column">
    <h1 class="text-center">Account</h1>
    <div class="mb-3 h-25">
        <img src="{{url_for('static', filename='images/profile_pictures/' + current_user.profile_picture)}}"  alt="profile picture" width="200" height="200">
    </div>
    <form method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="input-group has-validation mb-3">
          <div class="form-floating">
              {{ form.first_name(class="form-control" + (" is-invalid" if form.first_name.errors else "")) }}
              {{ form.first_name.label() }}
          </div>
        </div>
        <div class="input-group has-validation mb-3">
          <div class="form-floating">
              {{ form.last_name(class="form-control" + (" is-invalid" if form.last_name.errors else "")) }}
              {{ form.last_name.label() }}
          </div>
        </div>
        <div class="mb-3">
          {{form.profile_picture.label()}}
            {{form.profile_picture(class="form-control form-control-lg")}}
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <div class="form-floating">
                {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else "")) }}
                {{ form.username.label() }}
                </div>
                {% if form.username.errors %}
                <div class="invalid-feedback" >
                {{ form.username.errors[0] }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
              <div class="form-floating">
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                {{ form.email.label() }}
              </div>
            
              {% if form.email.errors %}
              <div class="invalid-feedback">
                {{ form.email.errors[0] }}
              </div>
              {% endif %}
        
            </div>
          </div>
          <div class="mb-3">
            {{ form.submit(class="btn btn-dark") }}
          </div>
    </form>
</div>
{% endblock %}