{% extends 'base.html' %}
{% block title %}
    100 Days Week-2
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <nav aria-label="week-navigation" class="mt-4">
                <ul class="pagination">
                    <li class="page-item active" aria-current="page"><a href="{{ url_for('hundred_days.week_two') }}" class="page-link">Week 2</a></li>
                    <li class="page-item" ><a href="{{ url_for('hundred_days.week_one') }}" class="page-link">1</a></li>
                </ul>
            </nav>
            <div class="list-group pt-2 d-flex flex-column-reverse" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#day-1" role="tab">Day  8: <strong> HangMan</strong></a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#day-2" role="tab">Day 9: <strong>Ceaser Cipher</strong></a>
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#day-3" role="tab">Day 10: <strong>Silent Auction</strong></a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#day-4" role="tab">Day 11: <strong>Minor update</strong></a>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="day-1" role="tabpanel">
                    <div class="container my-cont d-md-flex flex-column  mt-3 align-content-center">
                        <h1 class="display-5 py-3">HangMan</h1>
                        <p class="lead" id="hangman-text">Guess the correct word before you run out of lives</p>
                        <div class="row" id="hangman-content">
                            <div class="col-md-9" id="hangman-main"></div>
                            <div class="col-md-3" id="hangman-feedback">
                                <button class="btn btn-primary w-100" id="hangman-start">Start</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="day-2" role="tabpanel">
                    <div class="container my-cont d-md-flex flex-column mt-3 align-content-center">
                        <h1 class="display-5 py-3">Ceaser Cipher</h1>
                        <p class="lead" id="ceaser-text">A program to encrypt and decrypt a ceaser cipher. A shift cipher used by Julius Cipher and his generals to hide his messages.</p>
                        <div class="row">
                            <div class="col-md-5"id="ceaser-section" ><button class="btn btn-primary w-100" id="btn-1">Encrypt</button></div>
                            <div class="col-md-2 p-2"></div>
                            <div class="col-md-5"><button class="btn btn-primary w-100" id="btn-2">Decrypt</button></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="day-3" role="tabpanel"> 
                    <div class="container my-cont d-md-flex flex-column mt-3 align-content-center">
                        <h1 class="display-5 py-3">Silent Auction</h1>
                        <p class="lead" id="auction-text">A simple algorithm for a silent auction. This is the type of auction where one bidder doesn't know what the other is bidding and the winner is revealed at the end</p>
                        <div class="row" id="auction-content">
                            <input type="text" class="form-control" id="auction-input" placeholder="What is Your name?">
                            <button class="btn btn-primary mt-1" id="auction-submit">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="day-4" role="tabpanel">
                    <div class="container my-cont d-md-flex flex-column mt-3 align-content-center">
                        <h1 class="display-5 py-3">Day 11: A hard Day</h1>
                        <p class="lead">
                            On this day i did code for an Internet Applications Programing class in which i am learning Javascript.
                            But if i am being completly honest i didn't code as much as i would have liked to.
                            So I'd Like to call this the end of attempt one.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}