{% extends 'base.html' %}
{% block title %}
    100 Days Week-1
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1 class="fw-light">Week 1</h1>
            <div class="list-group pt-2" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#day1" role="tab">Day 1 : <strong>Bill Calculator</strong></a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#day1-2" role="tab">Day 1: <strong>Band Name Generator</strong></a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#day3" role="tab">Day 3</a>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="day1" role="tabpanel">
                    <div class="container my-cont d-md-flex flex-column justify-content-center align-content-center">
                        <h1 class="display-5 py-3">Bill Calculator</h1>
                        <p class="lead">This is a simple script to calculate the individual amount required from each person at dinner.</p>
                        <div class="container" id="tc-content">
                            <div class="input-group mb-3" id="bill-section">
                                <span for="tc-input" id="tc-input-label" class="input-group-text"></span>
                                <input type="number" class="form-control" id="tc-input" placeholder="">
                            </div>
                            <button class="btn btn-primary w-100" id="tc-submit">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="day1-2" role="tabpanel">
                    <div class="container my-cont d-md-flex flex-column justify-content-center align-content-center">
                        <h1 class="display-5 py-3">Band Name Generator</h1>
                        <p class="lead">Get a band name lol!</p>
                        <div class="container" id="band-content">
                            <div class="input-group mb-3" id="band-section">
                                <span for="band-input" id="band-input-label" class="input-group-text"></span>
                                <input type="text" class="form-control" id="band-input" placeholder="">
                            </div>
                            <button class="btn btn-primary w-100" id="band-submit">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="day3" role="tabpanel">Content for Day 3</div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Additional content can be added here -->
        </div>
    </div>
</div>

{% endblock %}