<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>by EugeneIkonya - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md text-bg-primary">
        <div class="container">
            <a href="{{ url_for('core.index' ) }}" class="navbar-brand text-white"><span class="fs-6">by </span>Eugene Ikonya</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon "></span>
              </button>
              <div class="collapse navbar-collapse text-white" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                  <li class="nav-item"><a href="#" class="nav-link text-white">Did i send you?</a></li>
                </ul>
              </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
</body>

<!-- <script src="{{url_for('static',filename='js/darkmodetoggle.js')}}"></script> -->
<script src="{{ url_for('static', filename='js/jquery3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/hundred_days.js') }}"></script>
</html>